
/* filter record style*/

.show-records{
  padding: 0 0 1.2rem 0;
  background-color:white;
  color:#337ab7;
}

.show-records select{
  margin:0 0.25rem;
}

.show-record-size-info{
  float: right;
  color:#337ab7;
  margin-right: 5px;
}

/* table style*/

.record-responsive{
  display: block;
  width: 100%;
  height:32.2rem;
  overflow-x: auto;
  border: 1px solid #337ab7;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

thead {
  border: 1px solid #337ab7;
}

thead tr:nth-child(1) th{
  background-color: #337ab7;
  color:#f1ebeb;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align:left;
}

table thead th {
  border-bottom: 2px solid #afb2b3;
}

.record-table td, .record-table th {
  border: 1px solid #afb2b3;
}

table td, table th {
  padding: .25rem .5rem;
  line-height: 1.0;
  border-top: 1px solid #afb2b3;
  min-width:10rem;
  word-wrap:break-word;
}

tfoot tr:nth-child(1) td{
  position: fixed;
  top:37.5rem;
  z-index: 1;
  width:100%;
  border:0px;
}

/*Button CSS */
button{
  border:1px solid #337ab7;
  background-color:#337ab7;
  color:white;
}

button:hover{
  cursor: pointer;
  text-decoration: underline;
  box-shadow: 5px 10px 18px #888888;
}

/*pagination css*/
.pagination {
  display: flex;
  list-style: none;
  margin-right:40px;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  line-height: 1;
  color: #337ab7;
  background-color: #fff;
  border:1px solid #337ab7;
}

.page-item:first-child .page-link {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.page-link:hover{
  background-color: #337ab7;
  color: white;
  cursor: pointer;
}

.justify-content-middle {
  justify-content: flex-end !important;
}

/* error message */
#error-msg{
  border: 1px solid #337ab7;
  color:#337ab7;
  text-align: center;
  padding:1rem;
}
