<!--show enteries field to select number of enteries-->
<div id="error-msg" *ngIf="isServiceError">
  Error occurred while retrieving the users
</div>
<div *ngIf="!isServiceError">
  <div class="show-records">
    <label>Show
      <select (change)="showUser($event.target.value)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> entries</label>
    <!-- display number of records displaying-->
    <div class="show-record-size-info">
      <label>Showing
        <b>{{((currentPage-1)*numberOfRecords)+1}}</b> to
        <b>{{currentPage*numberOfRecords}}</b> of
        <b>{{userInfo.length}}</b>
      </label>
    </div>
  </div>
  <!--display record lists-->
  <div class="record-responsive">
    <table class="record-table">
      <!--header-->
      <thead>
        <tr class="table-header">
          <th id="{{field.key}}" *ngFor="let field of fieldsConfig">{{field.label}}</th>
          <th>Submit</th>
        </tr>
      </thead>
      <!--table body-->
      <tbody>
        <tr *ngFor="let user of userInfoPerPage">
          <td id="{{field.key}}" *ngFor="let field of fieldsConfig">{{user[field.key]}}</td>
          <td>
            <button type="submit" (click)="saveUser(user)">Submit</button>
          </td>
        </tr>
      </tbody>
      <!-- footer-->
      <tfoot>
        <tr>
          <td>
            <ul class="pagination justify-content-middle">
              <li class="page-item" *ngFor="let pageNum of pageNumbers">
                <a class="page-link" role="button" (click)="getPageDetails(pageNum)">{{pageNum}}</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>